# Exercises

## Lirabries

In [2]:
import numpy as np
import pandas as pd
from scipy import stats

## Q1

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q2 </h2>

A stock market analyst collected the monthly return on investments (ROI) of two stocks which he intends to indicate to their clients. Calculate the descriptive statistics for the two variables including the correlation between the ROIs. The data with the ROIs is available in the sheet 'Exercício 2' from the file <a href="Questions Data.xlsx">Questions Data.xlsx</a>.

<h3>Answer</h3>

In [74]:
# Read data from the Excel file
df = pd.read_excel(
    "Questions Data.xlsx",
    sheet_name = 'Exercício 2',
    index_col = 0,
    usecols = 'A:C',
    nrows = 23,
)

df.reset_index(inplace = True)
df.rename(columns = {'Meses': 'Months', 'Ação 1': 'Stock 1', 'Ação 2': 'Stock 2'}, inplace = True)
df = df.astype({'Stock 1': 'float64', 'Stock 2': 'float64'})
df.set_index('Months', inplace = True)

df

        Stock 1  Stock 2
Months
1       -0.0212   0.2645
2        0.2438   0.2086
3        0.2296   0.1248
4       -0.2018   0.0209
5        0.1296   0.2055
6        0.0615   0.6260
7       -0.1591  -0.1490
8       -0.1001   0.2580
9       -0.0265   0.1722
10       0.0776   0.0199
11       0.0370   0.4331
12       0.1116   0.5482
13      -0.0667   0.0452
14      -0.0082  -0.1410
15       0.0119  -0.1059
16       0.1205   0.4074
17       0.0477  -0.0056
18       0.2814   0.1482
19      -0.0674   0.0753
20       0.0762   0.0899
21      -0.1111   0.0160
22      -0.0557   0.1805
23       0.1991   0.0334

In [103]:
stats_df = pd.DataFrame(columns = {'Stock 1', 'Stock 2'})

# Number of observations
stats_df = stats_df.append(pd.DataFrame({'Stock 1': df['Stock 1'].shape[0], 'Stock 2': df['Stock 2'].shape[0]}, index = ['Number of observations']))

# Mean
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': df['Stock 1'].mean(), 'Stock 2': df['Stock 2'].mean()},
    index = ['Mean']
))

# Mean
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': df['Stock 1'].median(), 'Stock 2': df['Stock 2'].median()},
    index = ['Median']
))

# Mode
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': df['Stock 1'].mode()[0] if df['Stock 1'].mode().shape[0] == 1 else np.nan,
     'Stock 2': df['Stock 2'].mode()[0] if df['Stock 2'].mode().shape[0] == 1 else np.nan},
    index = ['Mode']
))

# 1st percentile
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': np.percentile(df['Stock 1'], 25), 'Stock 2': np.percentile(df['Stock 2'], 25)},
    index = ['1st quantile']
))

# 3rd percentile
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': np.percentile(df['Stock 1'], 75), 'Stock 2': np.percentile(df['Stock 2'], 75)},
    index = ['3rd quantile']
))

# 8th decile
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': np.percentile(df['Stock 1'], 80), 'Stock 2': np.percentile(df['Stock 2'], 80)},
    index = ['8th decile']
))

# 9th decile
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': np.percentile(df['Stock 1'], 90), 'Stock 2': np.percentile(df['Stock 2'], 90)},
    index = ['9th decile']
))

# 27th decile
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': np.percentile(df['Stock 1'], 27), 'Stock 2': np.percentile(df['Stock 2'], 27)},
    index = ['27th decile']
))

# 64th decile
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': np.percentile(df['Stock 1'], 64), 'Stock 2': np.percentile(df['Stock 2'], 64)},
    index = ['64th decile']
))

# Min value
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': df['Stock 1'].min(), 'Stock 2': df['Stock 2'].min()},
    index = ['Minimum']
))

# Max value
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': df['Stock 1'].max(), 'Stock 2': df['Stock 2'].max()},
    index = ['Maximum']
))

# Amplitude
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': stats_df['Stock 1'].loc['Maximum'] - stats_df['Stock 1'].loc['Minimum'],
    'Stock 2': stats_df['Stock 2'].loc['Maximum'] - stats_df['Stock 2'].loc['Minimum']},
    index = ['Amplitude']
))

# Variance
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': df['Stock 1'].var(), 'Stock 2': df['Stock 2'].var()},
    index = ['Variance']
))

# Standard deviation
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': df['Stock 1'].std(), 'Stock 2': df['Stock 2'].std()},
    index = ['Standard deviation']
))

# Standard error
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': df['Stock 1'].sem(), 'Stock 2': df['Stock 2'].sem()},
    index = ['Standard error']
))

# Coefficient of Variation
stats_df = stats_df.append(pd.DataFrame(
    {'Stock 1': stats_df['Stock 1'].loc['Standard deviation'] / stats_df['Stock 1'].loc['Mean'],
     'Stock 2': stats_df['Stock 2'].loc['Standard deviation'] / stats_df['Stock 2'].loc['Mean']},
    index = ['Coefficient of Variation']
))

display(stats_df)

print("Correlation", stats.pearsonr(df['Stock 1'], df['Stock 2']))

                           Stock 1   Stock 2
Number of observations          23        23
Mean                      0.035204  0.151135
Median                       0.037    0.1248
Mode                           NaN       NaN
1st quantile               -0.0612    0.0204
3rd quantile               0.11605    0.2333
8th decile                 0.12596    0.2619
9th decile                  0.2235   0.42796
27th decile               -0.05636   0.02084
64th decile               0.076312    0.1825
Minimum                    -0.2018    -0.149
Maximum                     0.2814     0.626
Amplitude                   0.4832     0.775
Variance                  0.016698  0.041544
Standard deviation        0.129221  0.203822
Standard error            0.026944    0.0425
Coefficient of Variation  3.670591  1.348613

Correlation (0.29081897658677186, 0.1782207826223213)

In [82]:
df['Stock 1'].where(df['Stock 1'] == -0.1591)

Months
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7    -0.1591
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
Name: Stock 1, dtype: float64

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q3 </h2>

In a particular game, the probability of success in each new play is 1/6. In 10 plays, what are the following probabilities

a) Win 4 times <br />
b) Win at least 7 times

<h3>Answer</h3>

In [29]:
# Item (a): Win 4 times
print("(a) Probability of winning 4 times: {:,.5f}%".format(stats.binom.pmf(4, 10, 1/6)*100))

# Item (b): Win at least 7 times
print("(b) Probability of winning at least 7 times: {:,.5f}%".format((1 - stats.binom.cdf(6, 10, 1/6))*100))

(a) Probability of winning 4 times: 5.42659%
(b) Probability of winning at least 7 times: 0.02675%

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q4 </h2>

(Source: Fávero and Belfiore, 2017, Cap. 5) Assume that a student hit three questions for each five trials. Determine the probability of a student hit 12 questions in 20 trials.

<h3>Answer</h3>

In [18]:
print("Probability = {:,.5f}%".format(stats.nbinom.pmf(20 - 12, 12, 3/5)*100))

Probability = 10.78235%

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q5 </h2>

(Source: Fávero and Belfiore, 2017, Cap. 5) At a particular hospital, there are three operations on stomachs daily. Assume that the probability of operations in a day follows a **Poisson distribution** and calculate the probability of occurring 28 operations over the next week (7 days).

<h3>Answer</h3>

In [144]:
k = 28 # Operations
r = 21 # Rate [Operations / Week]
print("The probability of occurring {:,d} operations in a week is {:,.5f}%".format(k, stats.poisson.pmf(k, mu = r)*100))

The probability of occurring 28 operations in a week is 2.61707%

In [145]:
k = 4 # Operations
r = 3 # Rate [Operations /  day]
print("The probability of occurring {:,d} operations in a day is {:,.5f}%".format(k, stats.poisson.pmf(k, mu = r)*100))

The probability of occurring 4 operations in a day is 16.80314%

In [5]:
(0.1680314)**7

3.782100987395365e-06

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q6 </h2>

In the last six months, it was done measurements of the time $ X $ over which a product was made in a given process. The obtained sample mean time and the sample standard deviation are 26.5 minutes and 4 minutes respectively. Assuming that this time follows a normal distribution, check the following information:

a) P(X > 37) <br />
b) P(X < 20) <br />
c) P(22 < X < 28)

<h3>Answer</h3>

In [97]:
mean = 26.5
std = 4
print('P(X > 37) = {:,.5f}'.format(1 - stats.norm.cdf((37 - mean)/std)))
print('P(X < 20) = {:,.5f}'.format(stats.norm.cdf((20 - mean)/std)))
print('P(22 < X < 28) = {:,.5f}'.format(stats.norm.cdf((28 - mean)/std) - stats.norm.cdf((22 - mean)/std)))

P(X > 37) = 0.00433
P(X < 20) = 0.05208
P(22 < X < 28) = 0.51588

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q7 </h2>

(Source: Fávero and Belfiore, 2017, Cap. 8). A group of 60 readers evaluated three romance books and chose one of the three options. Verify statistically whether there is a difference in readers' preferences with a 5%-level of significance. The data is available in the sheet 'Exercício 7' from the file <a href="Questions Data.xlsx">Questions Data.xlsx</a>.

<h3>Answer</h3>

The event $ X $ of choosing one of the three books follows a **Multinomial distribution**. Let be $ p = (p_1, p_2, p_3) $ the probabilities of choosing a book and $ n = 60 $ the number of times that the readers chose a book. The random variable $ X = (X_1, X_2, X_3) $ is composed of three *binomial events* so that $ X_i \sim Binomial(n, p_i),\ i \in \{1, 2, 3\} $. We must check the following hypotheses:

$$ H_0: p = (1/3, 1/3, 1/3) \\ H_1: p \neq (1/3, 1/3, 1/3) $$

Let us consider the following **test statistic**

$$ T = \sum_{i = 1}^{3} \frac{(X_i - n/3)^2}{n/3} $$

Since the sample size is considerable large ($ n > 30 $), we can approximate the binomial distribution by a normal distribution supported by the *central limit theorem* (sum of Bernoulli trials). Therefore, $ T $ can be seen as a biased estimator of the variance whose sample follows a standard normal distribution. In this condition, this statistics follows a $ \chi^2 $ distribution with $ 3 - 1 $ *degrees of freedom* denoted by $ \chi^2_{2}(x) $, where the subscript is the degrees of freedom. Thus, we reject the null hypothesis if $ T > \chi^2_{2}(1 - \alpha) $.

In [91]:
# Read data from Excel file and create a DataFrame
df = pd.read_excel(
    "Questions Data.xlsx",
    sheet_name = 'Exercício 7',
    usecols = 'A:D',
    nrows = 1,
    index_col = 0
).squeeze()

df.head()

Livro A    29
Livro B    15
Livro C    16
Name: Frequência, dtype: int64

In [93]:
exp_mean = 60 / 3 # Expected mean
test_statistic = np.sum((df - exp_mean)**2) / exp_mean
p_value = 1 - stats.chi2.cdf(test_statistic, df = 2)
critical_value = stats.chi2.ppf(1 - 0.05, df = 2)

print('Test Statistic = {:,.5f}'.format(test_statistic))
print('Critical Value = {:,.5f}'.format(critical_value))
print('p-value = {:,.5f}'.format(p_value))

Test Statistic = 6.10000
Critical Value = 5.99146
p-value = 0.04736

Since the p-value is lower than $ \alpha $, we reject the null hypothesis with a 5%-level of significance. However, the p-value is very close to $ \alpha $, which implies we would not reject the null hypothesis if we assume a slightly lower significance.

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q8 </h2>

It was collected the total rainfall depth in millimetres (mm) over 14 days at two locations, A and B. A researcher noted that location A appears to have higher variability in the rainfall depth compared to location B. Perform a F-test with a 5%-level of significance to verify whether the variability in the total rainfall depth at location A is statistically higher than the variability at location B. The data is available in the sheet 'Exercício 8' from the file <a href="Questions Data.xlsx">Questions Data.xlsx</a>.

<h3>Answer</h3>

Assuming that the total rainfall depth is normally distributed, we can apply the F-test considering the following hypotheses:

$ H_0: \hat{F} \leq 1 $ <br />
$ H_1: \hat{F} > 1 $

where $ \hat{F} = \hat{\sigma}_{A}^2 / \hat{\sigma}_{B}^2 $ is the **test statistic**, which follows a *Fisher-Snedecor distribution* (a.k.a F-distribution) f with $ n - 1 $ ($ n $ is the sample size of A) and $ m - 1 $ ($m$ is the sample size of B) *degrees of freedom*.

In [29]:
# Read data from Excel file and create a DataFrame
df = pd.read_excel(
    "Questions Data.xlsx",
    sheet_name = 'Exercício 8',
    usecols = 'A:B',
    nrows = 14,
    dtype = {'Local A (mm)': 'float64', 'Local A (mm)': 'float64'}
)

df.head()

   Local A (mm)  Local B (mm)
0           8.9           5.6
1           7.7           4.9
2           8.6           6.6
3           3.9           5.9
4           7.6           6.5

In [30]:
# Evaluating the F-statistic
F_stats = df['Local A (mm)'].var() / df['Local B (mm)'].var()
critical_value = stats.f.ppf(1 - 0.05, df.shape[0] - 1, df.shape[0] - 1)
p_value = 1 - stats.f.cdf(F_stats, df.shape[0] - 1, df.shape[0] - 1)

print("F_statistic = {:,.5f}".format(F_stats))
print("Critical value = {:,.5f}".format(critical_value))
print("p_value = {:,.5f}".format(p_value))

F_statistic = 2.76118
Critical value = 2.57693
p_value = 0.03917

Since $ p_{value} < \alpha $ ($ 0.039 < 0.05 $), we can reject the null hypothesis with a 5% level of significance. Therefore, we have evidence that the total rainfall depth varies more at A than at B.

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q9 </h2>


(Fávero and Belfiore, 2017, Cap. 7) We wish to compare the mean waiting time to be attended at two hospitals considering a sample with 20 patients at each hospital. Check whether there is a difference between the mean waiting times at both hospitals assuming a significance level of $ \alpha = 1\% $. Also, evaluate the confidence intervals for each mean waiting time. All necessary data are available in the sheet *Exercício 9* from the file <a href="Questions Data.xlsx">Questions Data.xlsx</a>.

<h3>Answer</h3>

Since the sample size is small (less than 30), we shall assume the Student's t-statistic to perform a t-test. Therefore, we shall assume a normally distributed sample. Let us assuming the following hypotheses:

$$ H_0: \bar{X}_1 = \bar{X}_2 \\ H_1: \bar{X}_1 \neq \bar{X}_2 $$

where $ \bar{X}_1 $ and $ \bar{X}_2 $ are the sample waiting times. 
The **test statistic** $ \hat{T} $ is given by

$$ \hat{T} = \frac{\bar{X}_1 - \bar{X}_2}{\sqrt{s^2_1 / n_1 + s^2_2 / n_2}} $$

where $ s^2_1 $, $ s_2^2 $, $ n_1 $, and $ n_2 $ are variances and the sample sizes of both hospitals respectively. The test statistic follows a Student's t distribution with $ n_1 + n_2 - 2 $ *degrees of freedom*.

### Hypothesis testing

In [34]:
# Read data from Excel file and create a DataFrame
df = pd.read_excel(
    "Questions Data.xlsx",
    sheet_name = 'Exercício 9',
    usecols = 'A:B',
    nrows = 20,
    dtype = {'Hospital 1': 'int64', 'Hospital 2': 'int64'}
)

df.head()

   Hospital 1  Hospital 2
0          72          66
1          58          40
2          91          55
3          88          70
4          70          76

In [46]:
#
# Student's t-test to compare two means from independent samples
#--
# Using ttest_ind from Scipy library
t_stats, p_value = stats.ttest_ind(df['Hospital 1'], df['Hospital 2'])

print("t_statistic = {:,.5f}".format(t_stats))
print("p_value = {:,.5f} ({:,e})".format(p_value, p_value))

t_statistic = 6.92082
p_value = 0.00000 (3.147828e-08)

In [47]:
# Evaluating the t-Statistics and the p-value "manually"
t_stats = (df['Hospital 1'].mean() - df['Hospital 2'].mean()) / np.sqrt(df['Hospital 1'].var() / df.shape[0] + df['Hospital 2'].var() / df.shape[0])
p_value = 2 * stats.t.cdf(-abs(t_stats), df = df.shape[0] + df.shape[0] - 2)
critical_value = abs(stats.t.ppf(0.01/2, df = 2*df.shape[0] - 2))

print("Critical Value = {:,.5f}".format(critical_value))
print("t_statistic = {:,.5f}".format(t_stats))
print("p_value = {:,.5f} ({:,e})".format(p_value, p_value))

Critical Value = 2.71156
t_statistic = 6.92082
p_value = 0.00000 (3.147828e-08)

Since $ p_{value} < \alpha $ (much lower), we can reject the null hypothesis with 1% level of significance. Therefore, we have evidence that both hospitals have a different mean waiting time to be attended.

### Confidence interval

The confidence interval is

$$ C = (\bar{x} - t_{\nu, \alpha / 2} \hat{se},\ \bar{x} + t_{\nu, \alpha / 2} \hat{se}), $$

where $ t_{\nu, \alpha / 2} = T^{-1}_{\nu}(1 - \alpha/2) $ and $ T_{\nu}^{-1} $ is the inverse cumulative distribution function of the Student's t distribution. Plug $ \alpha = 0.01 $ and $ \nu = n - 1 = 19 $ in $ T_{\nu}^{-1}(1 - \alpha/2) $, we obtain $ T_{19}^{-1}(0.995) = 2.8609346064 ... $ (check below). Thus, the confidence interval follows bellow

In [49]:
t_alpha_over_2 = stats.t.ppf(1 - 0.01 / 2, df.shape[0] - 1)
print("t = {:,.10f}".format(t_alpha_over_2))

mean_1 = df['Hospital 1'].mean()
se_1 = df['Hospital 1'].sem()
print("Confidence Interval (Hospital 1) = ({:,.2f}, {:,.2f})".format(mean_1 - t_alpha_over_2 * se_1, mean_1 + t_alpha_over_2 * se_1))

mean_2 = df['Hospital 2'].mean()
se_2 = df['Hospital 2'].sem()
print("Confidence Interval (Hospital 2) = ({:,.2f}, {:,.2f})".format(mean_2 - t_alpha_over_2 * se_2, mean_2 + t_alpha_over_2 * se_2))

t = 2.8609346064
Confidence Interval (Hospital 1) = (73.99, 89.01)
Confidence Interval (Hospital 2) = (51.51, 64.09)

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q10 </h2>

A low-fat yogurt maker claims that each yogurt pot has $60 cal$ of food energy. To verify this information, a random sample with 36 pots is collected. It was observed a mean food energy of $65 cal$ and a standard deviation of $3.5 cal$. Apply the proper hypothesis test and verify if the maker's claim is true considering 5% significance level.

<h3>Answer</h3>

The sample is not so large since it barely has more than 30 elements. In this case, it is acceptable to apply the Z-test, but the t-test is more appropriate if we assume that sample is normally distributed. We shall perform both and compare their results. Let us consider the following hypothesis:

Null hypothesis $H_0: \mu = 60g$ <br />
Alternative hypothesis $H_1: \mu \neq 60g$

In [4]:
n = 36 # Sample size
sample_mean = 65 # Sample mean
hyp_mean = 60 # Hypothesis
std = 3.5 # Standard deviation
alpha = 0.05 # Significance level

### Z-test

In [19]:
z = np.sqrt(n) * (sample_mean - hyp_mean) / std # z-Statistic
p_value = 2 * stats.norm.cdf(-abs(z))
print("z-statistic = {:.2f}".format(z))
print("critical value = {:.2f}".format(abs(stats.norm.ppf(alpha/2))))
print("The p-value = {:.5f} is much lower than alpha = {:.2f}. Therefore, we reject the null hypothesis with a 5% level of significance.".format(p_value, alpha))

z-statistic = 2.30
critical value = 1.96
The p-value = 0.02117 is much lower than alpha = 0.05. Therefore, we reject the null hypothesis with a 5% level of significance.

### t-test

In [20]:
t = np.sqrt(n) * (sample_mean - hyp_mean) / std # t-Statistic
p_value = 2*stats.t.cdf(-abs(t), n - 1)
print("t-statistic = {:.2f}".format(t))
print("critical value = {:.2f}".format(abs(stats.t.ppf(alpha/2, n - 1))))
print("The p-value = {:.5f} is much lower than alpha = {:.2f}. Therefore, we reject the null hypothesis with a 5% level of significance.".format(p_value, alpha))

t-statistic = 2.30
critical value = 1.99
The p-value = 0.02364 is much lower than alpha = 0.05. Therefore, we reject the null hypothesis with a 5% level of significance.

The difference between the critical values of the Z-statistic and the t-statistic is 0.07. Therefore, the tests are close but not exactly equal.

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q11 </h2>

A food industry uses a standard amount of salt of 8g with a standard deviation of 1g to prepare a particular product. In a sample of 85 products, it was observed the mean of 8.25g. Check if the observed quantity can be considered statistically higher with 5% significance level.

<h3>Answer</h3>

The sample is large enough to consider the sample mean normally distributed, which is guaranteed by the central limit theory. Therefore, we can apply the right-tailed Z-test assuming the following hypothesis:

Null hypothesis $H_0: \mu \leq 8g$ <br />
Alternative hypothesis $H_1: \mu > 8g$

In [15]:
n = 85 # Sample size
sample_mean = 8.25 # Sample mean
hyp_mean = 8 # Hypothesis
std = 1 # Standard deviation
alpha = 0.05 # Significance level

In [21]:
z = np.sqrt(n) * (sample_mean - hyp_mean) / std # z-Statistic
p_value = 1 - stats.norm.cdf(z)
print("z-Statistic = {:.2f}".format(z))
print("critical value = {:.2f}".format(stats.norm.ppf(1 - alpha)))
print("The p-value = {:.5f} is lower than alpha = {:.2f}. Therefore, we reject the null hypothesis with a 5% level of significance.".format(p_value, alpha))

z-Statistic = 2.30
critical value = 1.64
The p-value = 0.01059 is lower than alpha = 0.05. Therefore, we reject the null hypothesis with a 5% level of significance.

<hr style="height:1px;background-color:#999;boder:none" />
<h2> Q12 </h2>

It was collected the weight from 425 products and then it was obtained the sample mean of 226g and a sample standard deviation of 10g. Evaluate the confidence interval for this mean knowing that the sample standard deviation equals the population standard deviation historically. Assume a 5%-level of significance.

<h3>Answer</h3>

Since the sample size $ \bar{X} $ is large (n > 30), we can assume that the sample mean follows a normal distribution. Therefore, the confidence interval is given by

$$ C = (\bar{X} - z_{\alpha/2} \hat{se}, \bar{X} + z_{\alpha/2} \hat{se}) $$

where $ \hat{se} = \sqrt{\mathbb{V}(\bar{X})} $ is the standard error, $ z_{\alpha / 2} = \Phi^{-1}(1  - \alpha / 2)$, and $ \Phi^{-1} $ is the inverse cumulative distribution function of a standard normal.

In [55]:
sample_mean = 226
sample_size = 425
standard_error = 10 / np.sqrt(sample_size)
alpha = 0.05
z_alpha_over_2 = stats.norm.ppf(1 - alpha/2)

a = sample_mean - z_alpha_over_2 * standard_error
b = 2*sample_mean - a

print("Confidence Interval = ({:,.2f}, {:,.2f})".format(a, b))

Confidence Interval = (225.05, 226.95)